<?xml version="1.0" encoding="utf-8"?>
<Context xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Profiles>
    <Profile>
      <Title>Sundered 4</Title>
      <Guid>a7e39ad2-1901-478f-8828-2b33f2ee3fc2</Guid>
      <ChildProfiles />
      <States />
      <Mappings>
        <Mapping>
          <Title>left</Title>
          <Guid>a9c902ca-f09a-4fd8-9827-6b2302c84f04</Guid>
          <DeviceBindings>
            <DeviceBinding>
              <IsBound>true</IsBound>
              <DeviceGuid>ad96fadd-0a03-44cf-99a2-1a1867d6f00b</DeviceGuid>
              <KeyType>2</KeyType>
              <KeyValue>3</KeyValue>
              <KeySubValue>0</KeySubValue>
            </DeviceBinding>
          </DeviceBindings>
          <Plugins>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>bb3a1e02-79c5-4f52-9840-95b18886ea27</DeviceGuid>
                  <KeyType>2</KeyType>
                  <KeyValue>3</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>38282c18-254e-4707-b40d-24576c76dc20</DeviceGuid>
                  <KeyType>2</KeyType>
                  <KeyValue>3</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>18ee836c-7827-49c1-9581-d9fed3838797</DeviceGuid>
                  <KeyType>2</KeyType>
                  <KeyValue>3</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
          </Plugins>
        </Mapping>
        <Mapping>
          <Title>right</Title>
          <Guid>c9bd75fa-6d24-4fa1-a515-59b3d6fdf547</Guid>
          <DeviceBindings>
            <DeviceBinding>
              <IsBound>true</IsBound>
              <DeviceGuid>ad96fadd-0a03-44cf-99a2-1a1867d6f00b</DeviceGuid>
              <KeyType>2</KeyType>
              <KeyValue>1</KeyValue>
              <KeySubValue>0</KeySubValue>
            </DeviceBinding>
          </DeviceBindings>
          <Plugins>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>bb3a1e02-79c5-4f52-9840-95b18886ea27</DeviceGuid>
                  <KeyType>2</KeyType>
                  <KeyValue>1</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>38282c18-254e-4707-b40d-24576c76dc20</DeviceGuid>
                  <KeyType>2</KeyType>
                  <KeyValue>1</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>18ee836c-7827-49c1-9581-d9fed3838797</DeviceGuid>
                  <KeyType>2</KeyType>
                  <KeyValue>1</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
          </Plugins>
        </Mapping>
        <Mapping>
          <Title>up</Title>
          <Guid>c54ebbcf-7e81-4ae8-b95e-7e2be1e975a6</Guid>
          <DeviceBindings>
            <DeviceBinding>
              <IsBound>true</IsBound>
              <DeviceGuid>ad96fadd-0a03-44cf-99a2-1a1867d6f00b</DeviceGuid>
              <KeyType>2</KeyType>
              <KeyValue>0</KeyValue>
              <KeySubValue>0</KeySubValue>
            </DeviceBinding>
          </DeviceBindings>
          <Plugins>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>bb3a1e02-79c5-4f52-9840-95b18886ea27</DeviceGuid>
                  <KeyType>2</KeyType>
                  <KeyValue>0</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>38282c18-254e-4707-b40d-24576c76dc20</DeviceGuid>
                  <KeyType>2</KeyType>
                  <KeyValue>0</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>18ee836c-7827-49c1-9581-d9fed3838797</DeviceGuid>
                  <KeyType>2</KeyType>
                  <KeyValue>0</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
          </Plugins>
        </Mapping>
        <Mapping>
          <Title>down</Title>
          <Guid>f0a81015-abcb-48ab-9f77-54f33bf8d4dc</Guid>
          <DeviceBindings>
            <DeviceBinding>
              <IsBound>true</IsBound>
              <DeviceGuid>ad96fadd-0a03-44cf-99a2-1a1867d6f00b</DeviceGuid>
              <KeyType>2</KeyType>
              <KeyValue>2</KeyValue>
              <KeySubValue>0</KeySubValue>
            </DeviceBinding>
          </DeviceBindings>
          <Plugins>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>bb3a1e02-79c5-4f52-9840-95b18886ea27</DeviceGuid>
                  <KeyType>2</KeyType>
                  <KeyValue>2</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>38282c18-254e-4707-b40d-24576c76dc20</DeviceGuid>
                  <KeyType>2</KeyType>
                  <KeyValue>2</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>18ee836c-7827-49c1-9581-d9fed3838797</DeviceGuid>
                  <KeyType>2</KeyType>
                  <KeyValue>2</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
          </Plugins>
        </Mapping>
        <Mapping>
          <Title>cross</Title>
          <Guid>92967d63-4f24-4d54-ada4-7c8b85d0a1b6</Guid>
          <DeviceBindings>
            <DeviceBinding>
              <IsBound>true</IsBound>
              <DeviceGuid>ad96fadd-0a03-44cf-99a2-1a1867d6f00b</DeviceGuid>
              <KeyType>1</KeyType>
              <KeyValue>0</KeyValue>
              <KeySubValue>0</KeySubValue>
            </DeviceBinding>
          </DeviceBindings>
          <Plugins>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>bb3a1e02-79c5-4f52-9840-95b18886ea27</DeviceGuid>
                  <KeyType>1</KeyType>
                  <KeyValue>0</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>38282c18-254e-4707-b40d-24576c76dc20</DeviceGuid>
                  <KeyType>1</KeyType>
                  <KeyValue>0</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>18ee836c-7827-49c1-9581-d9fed3838797</DeviceGuid>
                  <KeyType>1</KeyType>
                  <KeyValue>0</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
          </Plugins>
        </Mapping>
        <Mapping>
          <Title>circle</Title>
          <Guid>e825695c-df57-4eb7-b907-4bb2c1da6f9d</Guid>
          <DeviceBindings>
            <DeviceBinding>
              <IsBound>true</IsBound>
              <DeviceGuid>ad96fadd-0a03-44cf-99a2-1a1867d6f00b</DeviceGuid>
              <KeyType>1</KeyType>
              <KeyValue>1</KeyValue>
              <KeySubValue>0</KeySubValue>
            </DeviceBinding>
          </DeviceBindings>
          <Plugins>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>bb3a1e02-79c5-4f52-9840-95b18886ea27</DeviceGuid>
                  <KeyType>1</KeyType>
                  <KeyValue>1</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>38282c18-254e-4707-b40d-24576c76dc20</DeviceGuid>
                  <KeyType>1</KeyType>
                  <KeyValue>1</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>18ee836c-7827-49c1-9581-d9fed3838797</DeviceGuid>
                  <KeyType>1</KeyType>
                  <KeyValue>1</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
          </Plugins>
        </Mapping>
        <Mapping>
          <Title>square</Title>
          <Guid>b89f5d9a-a845-4d97-a914-7cd357d8b01b</Guid>
          <DeviceBindings>
            <DeviceBinding>
              <IsBound>true</IsBound>
              <DeviceGuid>ad96fadd-0a03-44cf-99a2-1a1867d6f00b</DeviceGuid>
              <KeyType>1</KeyType>
              <KeyValue>2</KeyValue>
              <KeySubValue>0</KeySubValue>
            </DeviceBinding>
          </DeviceBindings>
          <Plugins>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>bb3a1e02-79c5-4f52-9840-95b18886ea27</DeviceGuid>
                  <KeyType>1</KeyType>
                  <KeyValue>2</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>38282c18-254e-4707-b40d-24576c76dc20</DeviceGuid>
                  <KeyType>1</KeyType>
                  <KeyValue>2</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>18ee836c-7827-49c1-9581-d9fed3838797</DeviceGuid>
                  <KeyType>1</KeyType>
                  <KeyValue>2</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
          </Plugins>
        </Mapping>
        <Mapping>
          <Title>triangle</Title>
          <Guid>5e46eaed-e3e0-4d88-a2ff-030001ed847f</Guid>
          <DeviceBindings>
            <DeviceBinding>
              <IsBound>true</IsBound>
              <DeviceGuid>ad96fadd-0a03-44cf-99a2-1a1867d6f00b</DeviceGuid>
              <KeyType>1</KeyType>
              <KeyValue>3</KeyValue>
              <KeySubValue>0</KeySubValue>
            </DeviceBinding>
          </DeviceBindings>
          <Plugins>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>bb3a1e02-79c5-4f52-9840-95b18886ea27</DeviceGuid>
                  <KeyType>1</KeyType>
                  <KeyValue>3</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>38282c18-254e-4707-b40d-24576c76dc20</DeviceGuid>
                  <KeyType>1</KeyType>
                  <KeyValue>3</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>18ee836c-7827-49c1-9581-d9fed3838797</DeviceGuid>
                  <KeyType>1</KeyType>
                  <KeyValue>3</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
          </Plugins>
        </Mapping>
        <Mapping>
          <Title>L1</Title>
          <Guid>a14a4585-c021-4716-b7fb-b5cc8dcad646</Guid>
          <DeviceBindings>
            <DeviceBinding>
              <IsBound>true</IsBound>
              <DeviceGuid>ad96fadd-0a03-44cf-99a2-1a1867d6f00b</DeviceGuid>
              <KeyType>1</KeyType>
              <KeyValue>4</KeyValue>
              <KeySubValue>0</KeySubValue>
            </DeviceBinding>
          </DeviceBindings>
          <Plugins>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>bb3a1e02-79c5-4f52-9840-95b18886ea27</DeviceGuid>
                  <KeyType>1</KeyType>
                  <KeyValue>4</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>38282c18-254e-4707-b40d-24576c76dc20</DeviceGuid>
                  <KeyType>1</KeyType>
                  <KeyValue>4</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>18ee836c-7827-49c1-9581-d9fed3838797</DeviceGuid>
                  <KeyType>1</KeyType>
                  <KeyValue>4</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
          </Plugins>
        </Mapping>
        <Mapping>
          <Title>R1</Title>
          <Guid>53c03ae8-a741-4518-a96d-c08465986835</Guid>
          <DeviceBindings>
            <DeviceBinding>
              <IsBound>true</IsBound>
              <DeviceGuid>ad96fadd-0a03-44cf-99a2-1a1867d6f00b</DeviceGuid>
              <KeyType>1</KeyType>
              <KeyValue>6</KeyValue>
              <KeySubValue>0</KeySubValue>
            </DeviceBinding>
          </DeviceBindings>
          <Plugins>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>bb3a1e02-79c5-4f52-9840-95b18886ea27</DeviceGuid>
                  <KeyType>1</KeyType>
                  <KeyValue>5</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>38282c18-254e-4707-b40d-24576c76dc20</DeviceGuid>
                  <KeyType>1</KeyType>
                  <KeyValue>5</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
            <Plugin xsi:type="ButtonToButton">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>18ee836c-7827-49c1-9581-d9fed3838797</DeviceGuid>
                  <KeyType>1</KeyType>
                  <KeyValue>5</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <Invert>false</Invert>
            </Plugin>
          </Plugins>
        </Mapping>
        <Mapping>
          <Title>R2</Title>
          <Guid>8e374717-2fcb-4ede-9dd6-61cf9efaf70d</Guid>
          <DeviceBindings>
            <DeviceBinding>
              <IsBound>true</IsBound>
              <DeviceGuid>ad96fadd-0a03-44cf-99a2-1a1867d6f00b</DeviceGuid>
              <KeyType>0</KeyType>
              <KeyValue>5</KeyValue>
              <KeySubValue>0</KeySubValue>
            </DeviceBinding>
            <DeviceBinding>
              <IsBound>true</IsBound>
              <DeviceGuid>ad96fadd-0a03-44cf-99a2-1a1867d6f00b</DeviceGuid>
              <KeyType>0</KeyType>
              <KeyValue>5</KeyValue>
              <KeySubValue>0</KeySubValue>
            </DeviceBinding>
          </DeviceBindings>
          <Plugins>
            <Plugin xsi:type="AxesToAxes">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>bb3a1e02-79c5-4f52-9840-95b18886ea27</DeviceGuid>
                  <KeyType>0</KeyType>
                  <KeyValue>5</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>bb3a1e02-79c5-4f52-9840-95b18886ea27</DeviceGuid>
                  <KeyType>0</KeyType>
                  <KeyValue>5</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <InvertX>false</InvertX>
              <InvertY>false</InvertY>
              <Sensitivity>100</Sensitivity>
              <Linear>false</Linear>
              <DeadZone>0</DeadZone>
              <CircularDz>false</CircularDz>
            </Plugin>
            <Plugin xsi:type="AxesToAxes">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>38282c18-254e-4707-b40d-24576c76dc20</DeviceGuid>
                  <KeyType>0</KeyType>
                  <KeyValue>5</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>38282c18-254e-4707-b40d-24576c76dc20</DeviceGuid>
                  <KeyType>0</KeyType>
                  <KeyValue>5</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <InvertX>false</InvertX>
              <InvertY>false</InvertY>
              <Sensitivity>100</Sensitivity>
              <Linear>false</Linear>
              <DeadZone>0</DeadZone>
              <CircularDz>false</CircularDz>
            </Plugin>
            <Plugin xsi:type="AxesToAxes">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>18ee836c-7827-49c1-9581-d9fed3838797</DeviceGuid>
                  <KeyType>0</KeyType>
                  <KeyValue>5</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>18ee836c-7827-49c1-9581-d9fed3838797</DeviceGuid>
                  <KeyType>0</KeyType>
                  <KeyValue>5</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <InvertX>false</InvertX>
              <InvertY>false</InvertY>
              <Sensitivity>100</Sensitivity>
              <Linear>false</Linear>
              <DeadZone>0</DeadZone>
              <CircularDz>false</CircularDz>
            </Plugin>
          </Plugins>
        </Mapping>
        <Mapping>
          <Title>L2</Title>
          <Guid>8e980765-e715-459e-a7e7-f38c54366d1c</Guid>
          <DeviceBindings>
            <DeviceBinding>
              <IsBound>true</IsBound>
              <DeviceGuid>ad96fadd-0a03-44cf-99a2-1a1867d6f00b</DeviceGuid>
              <KeyType>0</KeyType>
              <KeyValue>4</KeyValue>
              <KeySubValue>0</KeySubValue>
            </DeviceBinding>
            <DeviceBinding>
              <IsBound>true</IsBound>
              <DeviceGuid>ad96fadd-0a03-44cf-99a2-1a1867d6f00b</DeviceGuid>
              <KeyType>0</KeyType>
              <KeyValue>4</KeyValue>
              <KeySubValue>0</KeySubValue>
            </DeviceBinding>
          </DeviceBindings>
          <Plugins>
            <Plugin xsi:type="AxesToAxes">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>bb3a1e02-79c5-4f52-9840-95b18886ea27</DeviceGuid>
                  <KeyType>0</KeyType>
                  <KeyValue>4</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>bb3a1e02-79c5-4f52-9840-95b18886ea27</DeviceGuid>
                  <KeyType>0</KeyType>
                  <KeyValue>4</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <InvertX>false</InvertX>
              <InvertY>false</InvertY>
              <Sensitivity>100</Sensitivity>
              <Linear>false</Linear>
              <DeadZone>0</DeadZone>
              <CircularDz>false</CircularDz>
            </Plugin>
            <Plugin xsi:type="AxesToAxes">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>38282c18-254e-4707-b40d-24576c76dc20</DeviceGuid>
                  <KeyType>0</KeyType>
                  <KeyValue>4</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>38282c18-254e-4707-b40d-24576c76dc20</DeviceGuid>
                  <KeyType>0</KeyType>
                  <KeyValue>4</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <InvertX>false</InvertX>
              <InvertY>false</InvertY>
              <Sensitivity>100</Sensitivity>
              <Linear>false</Linear>
              <DeadZone>0</DeadZone>
              <CircularDz>false</CircularDz>
            </Plugin>
            <Plugin xsi:type="AxesToAxes">
              <State>00000000-0000-0000-0000-000000000000</State>
              <Outputs>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>18ee836c-7827-49c1-9581-d9fed3838797</DeviceGuid>
                  <KeyType>0</KeyType>
                  <KeyValue>4</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
                <DeviceBinding>
                  <IsBound>true</IsBound>
                  <DeviceGuid>18ee836c-7827-49c1-9581-d9fed3838797</DeviceGuid>
                  <KeyType>0</KeyType>
                  <KeyValue>4</KeyValue>
                  <KeySubValue>0</KeySubValue>
                </DeviceBinding>
              </Outputs>
              <InvertX>false</InvertX>
              <InvertY>false</InvertY>
              <Sensitivity>100</Sensitivity>
              <Linear>false</Linear>
              <DeadZone>0</DeadZone>
              <CircularDz>false</CircularDz>
            </Plugin>
          </Plugins>
        </Mapping>
      </Mappings>
      <InputDeviceGroupGuid>62b69c39-13ae-4704-a916-df0457b5e2da</InputDeviceGroupGuid>
      <OutputDeviceGroupGuid>8c144f8b-4cdb-4128-b478-19f8cf3b56d7</OutputDeviceGroupGuid>
    </Profile>
  </Profiles>
  <InputGroups>
    <DeviceGroup>
      <Title>test</Title>
      <Guid>62b69c39-13ae-4704-a916-df0457b5e2da</Guid>
      <Devices>
        <Device>
          <Guid>ad96fadd-0a03-44cf-99a2-1a1867d6f00b</Guid>
          <Title>DS4 Controller #1</Title>
          <ProviderName>Core_DS4WindowsApi</ProviderName>
          <DeviceHandle>0</DeviceHandle>
          <DeviceNumber>0</DeviceNumber>
        </Device>
      </Devices>
    </DeviceGroup>
  </InputGroups>
  <OutputGroups>
    <DeviceGroup>
      <Title>test</Title>
      <Guid>8c144f8b-4cdb-4128-b478-19f8cf3b56d7</Guid>
      <Devices>
        <Device>
          <Guid>bb3a1e02-79c5-4f52-9840-95b18886ea27</Guid>
          <Title>ViGEm DS4 Controller 2</Title>
          <ProviderName>Core_ViGEm</ProviderName>
          <DeviceHandle>ds4</DeviceHandle>
          <DeviceNumber>1</DeviceNumber>
        </Device>
        <Device>
          <Guid>38282c18-254e-4707-b40d-24576c76dc20</Guid>
          <Title>ViGEm DS4 Controller 3</Title>
          <ProviderName>Core_ViGEm</ProviderName>
          <DeviceHandle>ds4</DeviceHandle>
          <DeviceNumber>2</DeviceNumber>
        </Device>
        <Device>
          <Guid>18ee836c-7827-49c1-9581-d9fed3838797</Guid>
          <Title>ViGEm DS4 Controller 4</Title>
          <ProviderName>Core_ViGEm</ProviderName>
          <DeviceHandle>ds4</DeviceHandle>
          <DeviceNumber>3</DeviceNumber>
        </Device>
      </Devices>
    </DeviceGroup>
  </OutputGroups>
</Context>